<ng-form name="passwd.passwordForm">
  <div class="form-group push-quarter-bottom" ng-class="{ 'has-error': passwd.passwordInvalid() }">
    <div class="input-group-flex">
      <div class="input-group with-icon-btn">
        <label class="sr-only">Password</label>
        <input id="{{passwd.prefix}}-password" class="form-control" placeholder="Password" type="{{passwd.inputType}}" ng-minlength="{{passwd.minLength}}" autocomplete="off" autocorrect="off" autocapitalize="off" ng-model="passwd.passwd" ng-model-options="{ updateOn: 'change blur' }" name="password" ng-required="{{passwd.required}}">
        <!-- <span class="input-group-btn">
          <button class="btn btn-option" type="button" id="{{passwd.prefix}}-show-hide-password" ng-click="passwd.pwprocess()">
            {{passwd.pwprocessing}}
          </button>
        </span> -->
        <div class="icon-btn-wrapper"></div>
        <span class="addon-btn">
          <button type="button">
            <svg class="icon icon-1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/assets/svgs/icons.svg#close-thin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>
        </span>

        <span class="addon-btn">
          <button type="button">
            <svg class="icon icon-1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/assets/svgs/icons.svg#equalizer" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>
        </span>
      </div>

      <div class="error help-block">
        <ng-messages for="passwd.passwordForm.password.$error">
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
        </ng-messages>

        <ng-messages for="passwd.passwordForm.password.$error" ng-if="passwd.submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>
  </div>
</ng-form>
