<ng-form name="passwd.passwordForm">
  <div class="form-group push-quarter-bottom" ng-class="{ 'has-error': passwd.passwordInvalid() }">
    <div class="input-group">
      <label class="sr-only">Password</label>
      <input id="{{passwd.prefix}}-password" class="form-control" placeholder="Password" type="{{passwd.inputType}}" ng-minlength="{{passwd.minLength}}" autocomplete="off" autocorrect="off" autocapitalize="off" ng-model="passwd.passwd" ng-model-options="{ updateOn: 'change blur' }" name="password" ng-required="{{passwd.required}}">
      <span class="input-group-btn">
        <button class="btn btn-option" type="button" id="{{passwd.prefix}}-show-hide-password" ng-click="passwd.pwprocess()">
          {{passwd.pwprocessing}}
        </button>
      </span>
    </div>

    <div class="error help-block">
      <ng-messages for="passwd.passwordForm.password.$error">
        <ng-messages-include src="on-blur-messages"></ng-messages-include>
      </ng-messages>

      <ng-messages for="passwd.passwordForm.password.$error" ng-if="passwd.submitted">
        <ng-messages-include src="on-submit-messages"></ng-messages-include>
      </ng-messages>
    </div>
  </div>
</ng-form>
