.table-contrast-bg {
  background: $gray-lighter;
  padding: 1rem;

  h4 {
    font-size: 2.125rem;
    font-family: "acumin-pro-extra-condensed",sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .table.schedule-table {
    td {
      border-top: 0px;
    }
  }
}
