/* Explore Page - Adam - Work in Progress */

.crds-styles .explore-content {
  overflow-x: hidden;
  position: relative;
}

.crds-styles .explore-content h1 {
  font-size: 1050%;
  line-height: 0.8em;
}

.crds-styles .explore-content h4 {
  font-size: 1050%;
  line-height: 0.8em;
}

.crds-styles .explore-content .vertical-centered  {
  position: absolute;
  left: 50%;
  top: .5%;
  transform: translate(-50%,.5%);
  width: 100%;
}

.crds-styles .explore-content #religion {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 100px;
  height: 100vh;
  background-color: #000;
}

.crds-styles .explore-content #super-margin {
  margin-top:330px;
}


@media only screen and (max-width:768px) {

  .crds-styles .explore-content h1 {
    font-size: 700%;
    line-height: 0.8em;
  }
  .crds-styles .explore-content h4 {
    font-size: 700%;
    line-height: 0.8em;
  }
  .crds-styles .explore-content p {
    font-size: 16px;
  }

  .crds-styles .explore-content .vertical-centered  {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,1%);
    width: 100%;
  }

  .crds-styles .explore-content #super-margin {
    margin-top:0px;
  }
}

@media only screen and (min-width:420px) and (max-width:768) {
  .crds-styles .explore-content .vertical-centered  {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,1%);
    width: 100%;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .crds-styles .explore-content #explore3 .copy {
    margin-top: 50px;
  }
}

@media only screen and (max-width:991px) {
  .crds-styles .explore-content #religion {
    margin-top: 0px;
    height: auto;
    background-color: #000;
  }

  .crds-styles .explore-content .vertical-centered  {
    position: absolute;
    left: 50%;
    top: .5%;
    transform: translate(-50%,.5%);
    width: 100%;
  }
}
