.crds-styles {
  @import '~crds-styles/assets/stylesheets/bootstrap';

  // Searchbar
  .searchbar input.form-control.ng-touched {
    &.ng-valid,
    &.ng-invalid {
      border-color: lighten($cr-gray-lighter, 5);
      -webkit-box-shadow: inset 0 0 0 1px lighten($cr-gray-lighter, 5);
      box-shadow: inset 0 0 0 1px lighten($cr-gray-lighter, 5);
    }
  }

  // Signin
  .auth-container {
    color: $cr-gray-dark;

    .component-header {
      @extend .font-size-h5;

      color: $cr-gray-dark;
    }

    .page-header {
      border-bottom: 0;
    }

    .panel {
      border-radius: 0;
      padding: 10px 15px;

      @media screen and (min-width: $screen-sm) {
        padding: 25px;
      }

      .panel-body {
        padding: 0;

        .auth-form,
        .auth-details {
          padding: 15px;

          @media screen and (min-width: $screen-sm) {
            padding: 25px;
          }
        }

        @media screen and (min-width: $screen-sm) {
          .auth-form {
            padding-right: 40px;
          }
        }

        .auth-details {
          padding-right: 15px;
          padding-left: 40px;
        }

        > .row {
          @media screen and (min-width: $screen-sm) {
            display: flex;

            .divider {
              background: $cr-gray-lighter;
              width: 1px;
            }
          }
        }
      }
    }
  }

  .img-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    &.with-header {
      top: 64px;
      @media screen and (min-width: $screen-md) {
        top: 72px;
      }
    }
  }

  .crds-shared-header header {
    background: $cr-white;
    position: relative;
    z-index: 11;
  }
}

/* Fix modal window backdrop regression in iOS - TCM 5/30/17 */
body:not(.modal-open) .modal-backdrop.fade:not(.in) {
  display: none;
}
