.crds-styles {
  @import '~crds-styles/assets/stylesheets/bootstrap';



  // Signin
  .signin-container {
    color: $cr-gray-dark;

    .component-header {
      @extend .font-size-h5;

      color: $cr-gray-dark;
    }

    .page-header {
      border-bottom: 0;
    }

    .panel {
      border-radius: 0;
      padding: 10px 15px;

      @media screen and (min-width: $screen-sm) {
        padding: 25px;
      }

      .panel-body {
        padding: 0;

        .col-sm-6 {
          padding: 15px;
        }

        @media screen and (min-width: $screen-sm) {
          .col-sm-6:first-of-type {
            padding-right: 40px;
          }
        }

        .col-sm-6:last-of-type {
          padding-right: 15px;
          padding-left: 40px;

          @media screen and (min-width: $screen-sm) {
            border-left: 1px solid $cr-gray-lighter;
          }
        }
      }
    }
  }

  .img-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media screen and (max-width: $screen-sm + 1) and (orientation : landscape) {
      height: auto;
    }
  }
}

/* Fix modal window backdrop regression in iOS - TCM 5/30/17 */
body:not(.modal-open) .modal-backdrop.fade:not(.in) {
  display: none;
}

