<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">Forgot Password</h1>

    <div dynamic-content="$root.MESSAGES.forgotPasswordInstructions.content | html"></div>

    <form class="soft-top" id="forgotpasswordform" name="pwController.forgotpasswordform" role="form" novalidate>
      <div class="form-group" ng-class="{'has-error': pwController.validation.showErrors(pwController.forgotpasswordform, 'emailfield') }">
        <label class="sr-only" for="emailfield">Email address</label>
        <input id="emailfield" required="required" class="form-control" ng-model-options="{ updateOn: 'change blur' }" type="email" name="emailfield" placeholder="Email" autocomplete="off" autocapitalize="off" ng-model="pwController.emailAddress" autofocus="">

        <ng-messages for="pwController.forgotpasswordform.$error" ng-if="pwController.validation.showErrors(pwController.forgotpasswordform, 'emailfield')" class="error help-block font-size-small">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
        </ng-messages>

        <ng-messages for="pwController.forgotpasswordform.$error" ng-show="pwController.invalidAddress" class="error help-block font-size-small">
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
          <span ng-message="unique"><div dynamic-content="$root.MESSAGES.forgotPasswordInstructions.content | html"></div></span>
        </ng-messages>
      </div>

      <button ng-click="pwController.submitPassword(pwController.forgotpasswordform)" btn-loading="pwController.saving" data-loading-text="Sending..." class="btn btn-primary" title="resetrequest">Get a new password</button>
    </form>
  </div>
</div>
