<div dynamic-content="$root.MESSAGES.loginFormTop.content | html"></div>

<form id="navlogin" name="navlogin" ng-submit="login()"
      role="form" ng-hide="processing || isUserAlreadyLoggedInCheckRunning" novalidate>
  <div class="form-group">
    <div ng-show="!modal" class="" ng-class="{'has-error': checkEmail() }">
      <label class="sr-only" for="{{passwordPrefix}}-email">Email address</label>
      <input id="{{passwordPrefix}}-email" required class="form-control" ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }" type="email" name="username" placeholder="Email" autocomplete="off" autocapitalize="off" ng-model="credentials.username" autofocus="">

      <ng-messages for="navlogin['username'].$error" ng-if="navlogin.$submitted" class="error help-block">
        <ng-messages-include src="on-submit-messages"></ng-messages-include>
      </ng-messages>

      <ng-messages for="navlogin['username'].$error" ng-show="$root.username == undefined" class="error help-block">
        <ng-messages-include src="on-blur-messages"></ng-messages-include>
      </ng-messages>
    </div>
  </div>

  <password-field required="true" min-length="0" passwd-strength="false" passwd="credentials.password" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>

  <div ng-show="loginFailed" ng-class="{'has-error': loginFailed }" class="error help-block">
    <span dynamic-content="$root.MESSAGES.loginFailed.content | html"></span>
  </div>

  <div class="clearfix">
    <div ng-if="!modal && !processing" class="pull-right font-size-smaller">
      <a class="block" ui-sref="forgotPassword">Forgot password?</a>
      <a class="block" href="/help">Need help?</a>
    </div>
  </div>

  <div class="push-half-top push-bottom">
    <input type="submit" name="submit_nav" value="Sign in" ng-class="{disabled: processing }" id="submit_nav" class="btn btn-primary btn-block" />
  </div>
</form>

<p class="text-center font-size-smaller" ng-if="(showRegister || showRegisterCallback) && !processing">Or
  <a class="link-secondary" ng-if="showRegister" ui-sref="{{registerUrl}}">register an account</a>
  <a class="link-secondary" ng-if="showRegisterCallback" ng-click="registerCallback()">register an account</a>
</p>
