version: '3.8'
services:
  gateway_api_tests:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    container_name: gateway_api_tests
    image: crdschurch/crds-angular.api_test:${DOCKER_TAG:-local}
    ipc: host # Workaround for Cypress issue #350 - prevent Docker from hanging if Cypress crashes
    environment:
      - VAULT_ROLE_ID=$VAULT_ROLE_ID
      - VAULT_SECRET_ID=$VAULT_SECRET_ID
      - CYPRESS_RECORD_KEY=$CYPRESS_RECORD_KEY #Report to Cypress Dashboard. Required when the --record and --tag flag are used.
    working_dir: /api_tests
    # Use this command to report results to the Cypress Dashboard. Only recommended if running in CI pipeline.
    command: ["--config-file", "/cypress/config/$CYPRESS_CONFIG_FILE", "--record", "--tag", "$CRDS_ENV"]

    # Use this command when running locally
    # command: ["--config-file", "/cypress/config/$CYPRESS_CONFIG_FILE"]  